{% extends 'base.html' %}

{% block title %}Welcome to To-Do{% endblock %}

{% block content %}
	<div class="welcome">
		<div class="welcome__text">Welcome to To-Do</div>
		<form method="POST">
			{% csrf_token %}
			{{ form.content }}
			<button type="submit">put</button>
		</form>
		<table class="result_table">
			<tr>
				<th>id</th>
				<th>content</th>
			</tr>
			{% for item in items %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ item.content }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}