<!doctype html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<div class="container">
		<div class="row w-100 justify-content-center">
			<div class="col-md-6 my-5 bg-light p-5">
				<div class="text-center">
					<h1 class="mb-4">{{ todo_form.label }}</h1>
					<form method="POST" action="{{ todo_form.action }}">
						{% csrf_token %}
						<p>{{ form.content }}{{ form.content.errors }}</p>
					</form>
				</div>
			</div>
		</div>
		{% block content %}
			<div class="container-md">
				<div class="row">
					<div class="col-sm-4 bg-primary">.col</div>
					<div class="col-md-2 bg-primary">.col</div>
					<div class="col-lg-1 bg-primary">.col</div>
					<div class="col-xl-2 bg-primary">.col</div>
					<div class="col-xll-1 bg-primary">.col</div>
				</div>
				<div class="row"></div>
			</div>
		{% endblock %}
	</div>
	<script src="{% static 'bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>