<!doctype html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	<link href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	{% if messages %}
		<div class="row">
			<div class="col-md-8">
				{% for message in messages %}
					{% if message.level_tag == 'success' %}
						<div class="alert alert-success">{{ message }}</div>
					{% else %}
						<div class="alert alert-warning">{{ message }}</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
	<div class="container">
		<div class="row w-100 justify-content-center">
			<div class="col-md-6 my-5 bg-light p-5">
				<div class="text-center">
					<h1 class="mb-4">{{ todo_form.label }}</h1>
					<form method="POST" action="{{ todo_form.action }}">
						{% csrf_token %}
						<p>{{ form.content }}{{ form.content.errors }}</p>
					</form>
				</div>
			</div>
		</div>
		<div class="row w-100 justify-content-center">
			<div class="col-md-6 my-5 bg-light p-5">
				<div class="text-center">
					{#  AJAX  #}
{#					<h1 class="mb-4">{{ email_form.label }}</h1>#}
					<div id="email_form">
						{% csrf_token %}
						<p>{{ email_form.email }}{{ email_form.errors }}</p>
						<p class="errors"></p>
						<button type="submit">send</button>
					</div>
				</div>
			</div>
		</div>
		{% block content %}
			<div class="container-md">
				<div class="row">
					<div class="col-sm-4 bg-primary">.col</div>
					<div class="col-md-2 bg-primary">.col</div>
					<div class="col-lg-1 bg-primary">.col</div>
					<div class="col-xl-2 bg-primary">.col</div>
					<div class="col-xll-1 bg-primary">.col</div>
				</div>
				<div class="row"></div>
			</div>
		{% endblock %}
	</div>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		const csrf_token_input = document.querySelector("input[name='csrfmiddlewaretoken']")
    	const csrf_token = csrf_token_input ? csrf_token_input.value : null
		const button = document.querySelector('#email_form button[type="submit"]')
		const email_input = document.querySelector('#id_email')
		const errors = document.querySelector('#email_form .errors')

		button.onclick = () => {
			const form = new FormData()
            form.append('email', email_input.value)

            const headers = {
                'X-CSRFToken': csrf_token,
                'Content-Type': `multipart/form-data;
                 boundary=${form._boundary}`
            }
            const url = `{{ email_form_action }}`

            async function _() {
                const response = await axios.post(url, form, {headers})
				if (response.data.status === 200) {
					email_input.value = ''
				} else {
					errors.innerHTML = `${response.data.error_message}`				}
			}_()
		}
        email_input.onkeydown = () => {
            errors.innerHTML = ''
		}
	</script>
	<script src="{% static 'bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>